.section-heading {
  padding-bottom: 20px;
  -webkit-text-decoration: #ff6601 solid underline;
  text-decoration: #ff6601 solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.nav-link.active {
  -webkit-text-decoration: #ff6601 solid underline;
  text-decoration: #ff6601 solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.fas,
.fab {
  color: #d9b7a6;
}

.navbar-brand {
  font-weight: 400;
  border: 2px solid #ff6601;
  border-right: 2px dotted #ff6601;
  padding: 1px 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
}

.dark .btn-primary,
.dark .btn.btn-primary.active {
  color: #ededed;
}

.as-h1 {
  font-size: 2.25rem;
  margin-top: 0;
}

.featurette,
.experience .card-text,
.experience .card-text p,
.card .card-text p,
.card-simple .article-style,
.media.stream-item .article-style {
  font-size: 0.85rem !important;
}

ul.ul-edu li .description p.institution {
  font-size: 0.8rem;
}

.project-card .card .card-text h4 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}

.btn-group .btn {
  border-radius: 0 !important;
}

@media (min-width: 948px) {
  .project-card .card .card-text h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
  }
}

pre > code {
  font-family: "Lora", "Sans Mono", monospace;
  font-size: 15px;
}

@media (min-width: 927px) {
  pre > code {
    font-size: 18px;
  }
}
